.bold {
    font-weight: bold;
}
.space-top {
    margin-top: 2em;
}
.contiguity-bottom {
    margin-bottom: -0.5em;
}
.em {
    font-size: 16pt;
}
footer {
    width: 95%;
    margin: auto;
}

.none {
    color:#fffae8;
    background-color: #fffae8;
    border: none;
}

.unset
.none:focus {
    border: solid 1px #490000;
    background-color: #fffae8;
    color: #490000;
    padding: 2px;

}


body {
    color: #1c1c1e;
    background-color: #fffae8;
    margin: auto;
}
main {
    width:85%;
    margin: auto;
}

h1 {
    font-size: 3.5em;
    text-align: center;
}
h2 {
    font-size: 2.75em;
    font-weight: bold;
}
h3 .btn {
    font-weight:initial;
    font-size:1.25em;
}

.large {
    font-size: 1.25em;
    text-align: center;
}

kbd {
    background-color: #e4dec3;
    border: solid 1px black;
    margin: 0 0.1em;
    padding: 0.2em;
}

a {
    color: #00417e;
    font-weight: bold;
    text-decoration:none;
}
a:focus,
a:hover,
a:active {
    color: #510086;
    transition: all 0.3s;
}
.btn {
    font-size: 1em;
    background-color: #1c1c1e;
    color: #fffae8;
    border: solid 3px #ffc400;
    padding: 0.1em 0.3em 0.2em 0.3em;
    border-radius: 20px;
}
.btn:focus,
.btn:hover,
.btn:active {
    background: #510086;
    color: #ddecfc;
    transition: all 0.3s;
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px #fffae8, 0 0 0 5px #00417e;
}

@media screen and (prefers-color-scheme: dark) {
    body {
    background-color: #1c1c1e;
    color: #fffae8;
    }
    
    a {
    color: #b9ddff;
    }
    a:focus,
    a:hover,
    a:active {
        color: #e1b8ff;
        transition: all 0.3s;
    }
    
    .btn {
        background-color: #ddecfc;
        color: #510086;
        border: solid 1px #0084ff;
    }
    
    .btn:focus,
    .btn:hover,
    .btn:active {
        background: #011c35;
        color: #fffae8;
        box-shadow: 0 0 0 3px #fffae8, 0 0 0 5px #79beff;
;
    }
    
    img {
    filter: grayscale(20%);
    }
}

@media screen and (max-width: 1024px) {
    main {
        width:95%;
    }
}

@media screen and (max-width: 720px) {
    
}