@import-normalize;

@import './custom.scss';

#root {
	height: 100%;
}

body {
	width: 100vw;
	height: 100vh;
	color: #1c1c1e;
}

.bold {
	font-weight: bold;
}
.space-top {
	margin-top: 2em;
}
.contiguity-bottom {
	margin-bottom: -0.5em;
}
.em {
	font-size: 16pt;
}
footer {
	width: 95%;
	margin: auto;
}

.none {
	color: #fffae8;
	background-color: #fffae8;
	border: none;
}

.unset .none:focus {
	border: solid 1px #490000;
	background-color: #fffae8;
	color: #490000;
	padding: 2px;
}

main,
section,
section div {
	display: flex;
	flex-direction: column;
}

main {
	width: 95%;
	margin: auto;
	padding-top: 5rem;
	padding-left: 300px;
	gap: 2em;
	@media (max-width: 992px) {
		padding-left: 0;
	}
}

section {
	gap: 1em;
}

h1 {
	font-size: 3.5em;
	text-align: center;
}
h2 {
	font-size: 2.75em;
	font-weight: bold;
}

.large {
	font-size: 1.25em;
	text-align: center;
}

kbd {
	background-color: #e4dec3;
	border: solid 1px black;
	margin: 0 0.1em;
	padding: 0.2em;
}

a, .nav-link {
	font-weight: bold;
}